h1 {
  color: white;
  text-align: center;
  font-size: 70px;
  font-style: oblique;
}
h2 {
  font-size: large;
  font-style: italic;
}
body {
  background-color: lightblue;
  text-align: center;
}
p {
  text-align: center;
}